# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# PyInstaller
*.spec
build/
dist/

# Operating System Files
.DS_Store
Thumbs.db

# Sound files (optional, if you want to keep them out of Git)
# *.wav